body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bodyText {
  color: black;
}

.Card {
  float: center
}

.bodyText {
  margin-top: 5%;
}

.vl {
  border-left: 1px solid gray;
  height: 400px;
  margin-right: 5%;
}

hr {
  border-top: 1px solid gray !important;
}

p.gmTxt {
  margin-left: 12rem;
}

p.jeanetteTxt {
  margin-left: 12rem;
}

.jumbotron {
  height: auto;
  width: auto;
  padding: 0% !important;
  padding-left: 0% !important;
  padding-right: 0% !important;
  margin-bottom: 0% !important;
}

.btn-dark {
  background-color:black !important;
}


.succege-msg {

color: green !important;
}


.err-msg {
  color: red !important;
}